*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    filter: contrast(0.8);
}

.header{
    padding: 20px 0;
    position: fixed;
    width: 100%;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header a{
    text-decoration: none;
    color: #FFFFFF;
}

.logo{
    float: left;
    margin-left: 8rem;
    font-size: x-large;
    font-weight: bold;
}

.navbar{
    float: right;
    margin-right: 8rem;
    margin-top: 5px;
}

.navbar a{
    margin-right: 1rem;
    font-size: large;
    font-weight: bold;
}

.body{
    background-image: url(https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg);
    text-align: center;
    padding: 11rem;
    background-position: center;
    background-size: cover;
}

.body h1{
    color: #FFFFFF;
    font-weight: 500;
    font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.firsth1{
    font-size: 3.6rem;
}

.secondh1{
    font-size: 4rem;
    margin-bottom: 20px;
}

hr{
    height: 3px;
    width: 45px;
    margin: auto;
    border: none;
    background-color: orangered;
}

.body p{
    color: #FFFFFF;
    font-size: 1.3rem;
    font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.paragraph1{
    margin-top: 20px;
}

.body a{
    text-decoration: none;
    border: 1px solid rgba(221, 63, 6, 0.856);
    border-radius: 30px;
    padding: 20px 36px;
    background-color: rgba(221, 63, 6, 0.856);
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 2rem;
    transition: 0.8s;
    display: inline-block;
    font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.body a:hover{
    background-color: orangered;
}

.context{
    background-color: orangered;
    padding: 8rem;
    text-align: center;
    filter: contrast(0.8);
    font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.context h1{
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.context hr{
    background-color: #FFFFFF;
    margin-top: 15px;
}

.paragraph2{
    margin-top: 15px;
}

.context p{
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 300;
}

.context a{
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.692);
    border-radius: 30px;
    padding: 20px 36px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.692);
    color: #000000;
    font-weight: bold;
    margin-top: 2rem;
    transition: 0.8s;
}

.context a:hover{
    background-color: #FFFFFF;
}